.main {
  display: flex;
  justify-content: center;
  padding-top: 172px;
}

.main > img {
  width: 70vw;
  max-width: 600px;
}

@media only screen and (max-width: 500px) {
  .main {
    padding-top: 50px;
  }
}