.main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 72px;
  padding-bottom: 150px;
}

.pageTop {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 56px;
}

.content {
  border: 1px solid hsla(254, 35%, 43%, 0.408);
  box-shadow: 0px 3px 10px #451d9a46;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800px;
  padding: 32px 32px;
  background-color: #fcf7ff;
}

.contentLeft {
  width: 80%;
}

.contentLeft > * {
  margin: 0 0 8px 0;
}

.contentLeft > :nth-child(2) {
  margin-bottom: 20px;
}

.contentRight {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
}

.contentRight > div > * {
  margin: 0;
  text-align: right;
}

.contentRight > img {
  max-width: 50px;
  height: 50px;
}

.contentMid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
}

.wPhoto {
  width: 50%;
  margin: 0;
}

.woPhoto {
  width: 100%;
  margin: 0;
}

.wDescription {
  width: 50%;
  border-radius: 4px;
  margin-bottom: 8px;
  border: .5px solid rgb(62, 62, 62, 0.6);
  max-width: 300px;
}

.woDescription {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
  border: .5px solid rgb(62, 62, 62, 0.6);
  max-width: 300px;
}

.contentFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.contentFooter > * > img, 
.contentFooter > * > * > img {
  height: 50px;
}

.likeToolTip::after,
.delToolTip::after{
  display: block;
  position:absolute;
  background-color: rgba(0,0,0,0.4);
  color:white;
  padding: .5em 1.5em;
  border-radius: 10px;
  font-weight: 700;
  font-size: .8em;
  white-space: nowrap;
  left:-50%;
  top: 15%;
  transform: scale(0);
  transition: ease-out 200ms
}

.likeToolTip::after{
  content:'Edit Rec?'
}

.delToolTip::after{
  content:'Delete Rec?'
}

.likeToolTip:hover::after,
.delToolTip:hover::after{
  transform: scale(1);
  top:100%
}

a{
  text-decoration: none;
}

.likeToolTip, .delToolTip{
  position: relative;
}

.contentFooter > div > img:hover, 
.contentFooter > a > div > img:hover {
  cursor: pointer;
  background-color: #cecece;
  border-radius: 50%;
}

.contentFooter > div > img:active, 
.contentFooter > a > img:active {
  transform: scale(0.92);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: 32px 16px;
}

.buttonContainer > * > img,
.buttonContainer > div > div > img {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.buttonContainer > * > img:hover,
.buttonContainer > div > div > img:hover {
  cursor: pointer;
  background-color: #cecece;
  border-radius: 50%;
}

.buttonContainer > * > img:active,
.buttonContainer > div > div > img:active {
  transform: scale(0.92)
}

.buttonContainer > :nth-child(2) > div > img:active {
  transform: rotate(90)
}

.commentContainer {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 48px 32px;
}

@media only screen and (max-width: 768px) {
  .contentMid {
    flex-direction: column;
  }

  .wDescription {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .buttonContainer > * > img,
  .buttonContainer > div > div > img {
    width: 40px;
    height: 40px;
  }

  .contentRight > img {
    width: 40px;
    height: 40px;
  }

  .contentFooter > div > img, 
  .contentFooter > a > img {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .pageTop {
    width: 97%;
  }

  .contentLeft > h2 {
    font-size: 20px;
  }

  .contentLeft > h3 {
    font-size: 16px;
  }

  .contentLeft > h4 {
    font-size: 14px;
  }

  .contentLeft > * {
    margin-bottom: 4px;
  }

  .contentLeft > :nth-child(2) {
    margin-bottom: 8px;
  }

  .contentRight > div > * {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .buttonContainer > * > img,
  .buttonContainer > div > div > img {
    width: 30px;
    height: 30px;
  }
  .contentRight > img {
    width: 30px;
    height: 30px;
  }
  .contentFooter > div > img, 
  .contentFooter > a > img {
    height: 30px;
    width: 30px;
  }
}