

.profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #b686dd;
}

.userName {
    color: #451d9a  ;
 
    font-size: 24px;
    display: block;
    text-align: center;
    margin-left: auto;
}

.loading {
    color: #451d9a ;
    display: block;
    text-align: center;
    margin-left: auto;

}
