.myProfile {
display: flex;
justify-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
color: purple;
align-items: center;

}


.profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #b686dd;
}

.userName {
    color: #451d9a  ;
 
    font-size: 34px;
    display: block;
    text-align: center;
    margin-left: auto;
}

.loading {
  

}

.p {
    color: pruple;
}
