.container {
	display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 16px;
  width: 90%; 
  max-width: 1500px;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}