.main {
  padding-top: 72px;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 56px;
  align-items: center;
  border: 1px solid hsla(254, 35%, 43%, 0.408);
	box-shadow: 0px 3px 10px #451d9a46;
	border-radius: 4px;
  padding: 32px;
  width: 60%
}

.formDiv  {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 80%;
  grid-gap: 8px;
  padding: 8px;
}

.formDiv input {
  width: 80%;
  padding: 4px;
}

.categoryDiv {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 80%;
  margin: 8px;
  padding: 8px 0;
  font-weight: bold;
}

.categoryDiv select {
  padding: 4px;
}

.upload {
  display: flex;
}

.uploadText {
  font-size: 14px;
  margin: 5px 5px;
}

.button {
  border: 5em;
	cursor: pointer;
	outline: none;
	font-size: 14px;
	height: fit-content;
	background-image: linear-gradient(45deg, #4568dc, #b06ab3);
	padding: 8px 16px;
	border-radius: 4px;
	color: white;
}

.fileUpload {
  visibility: hidden;
}

@media only screen and (max-width: 650px) {
  .formDiv  {
    width: 90%;
  }
  
  .categoryDiv {
    width: 88%;
  }
}