.recCard {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1;
  border: 1px solid rgb(200, 118, 200);
  min-height: 200px;
  flex-basis: 31%;
  margin:1%;
}

.recCardContent {
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  margin:0px;
}

.comment-box {
  margin-left: 10px;
  height: 75px;
}

.submit-comment-button {
  margin-top: 10%;
  margin-left: 2%;
  margin-bottom: -100;
  border: 1px solid;
}

.add-comment-label {
margin-bottom: 100px;
color: black;
}