.playlistCard {
	border: 1px solid #59479468;
  box-shadow: 0px 3px 10px #451d9a46;
  border-radius: 4px;
  min-width: 100px;
  width: 100%;
  height: 100px;
  flex-basis: 31%;
  padding: 8px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #07081e;
  text-decoration: none;
}

.playlistCard > h3 {
	max-width: 60%;
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.playlistCard > a {
	width: 35%;
	max-width: 100px;
}

.playlistMoreInfoButton {
	width: 100%;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
	font-size: 14px;
	padding: 8px 16px;;
	background-image: linear-gradient(45deg, #4568dc, #b06ab3);
	color: white;
}

.playlistMoreInfoButton:hover {
	text-decoration: underline;
}