.main {
  padding-top: 72px;
  min-height: 100vh;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  
}

.header {
  width: 90%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > img {
  width: 350px;
  margin: 32px 0;
}

.header > select {
  height: 30px;
  font-size: 16px;
  font-family: 'Manrope';
  border: 1px solid hsla(254, 35%, 43%, 0.408);
  border-radius: 4px;
  box-shadow: 0px 1px 3px #451d9a46;
  color: #07081e;
  outline: 0;
  width: 110px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 16px;
  width: 90%; 
  max-width: 1500px;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1275px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1040px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .header {
    flex-wrap: wrap;
  }
  
  .header > img {
    width: 50%;
    max-width: 350px;
  }
  
  .header > input {
    width: 40%;
    margin-left: 10%;
  }
  
  .header > select {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header > img {
    width: 100%;
    max-width: 300px;
    font-size: 28px;
    margin-bottom: 0;
  }
  
  .header > input {
    margin: 16px 0;
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  .header > img {
    width: 100%;
    max-width: none;
  }
}

.searchBar {
  border-radius: 5px;
  height: 30px;
  width: 30%;
  padding: 2px 16px;
  outline: 0;
  background-color: white;
  font-family: "Manrope";
  border: 1px solid hsla(254, 35%, 43%, 0.408);
  box-shadow: 0px 1px 3px #451d9a46;
}

