.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.inputContainer > * {
  margin-bottom: 24px;
  outline: none;
}

.inputContainer > input {
  border: 1px solid hsla(254, 35%, 43%, 0.408);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  font-family: 'Manrope';
}

.inputContainer > :last-child() {
  border: 0;
}

.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}
