.main {
  padding-top: 72px;
  min-height: 100vh;
  padding-bottom: 150px;max-width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%; 
  max-width: 1500px;
}

.header > div > img {
  height: 50px;
}

.header > div > img:hover {
  cursor: pointer;
  background-color: #cecece;
  border-radius: 50%;
}

.header > div > img:active {
  transform: scale(0.92);
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 16px; 
  width: 90%;
  max-width: 1500px;
  grid-template-columns: repeat(4, 1fr);
}

.header > div{
  position: relative;
}

.delToolTip::after{
  content:'Delete Playlist?';
  display: block;
  position:absolute;
  background-color: rgba(0,0,0,0.4);
  color:white;
  padding: .5em 1.5em;
  border-radius: 10px;
  font-weight: 700;
  font-size: .8em;
  white-space: nowrap;
  top:18%;
  right: -100%;
  transform: scale(0);
  transition: ease-out 200ms
}

.delToolTip:hover::after{
  transform: scale(1);
  right:105%;
}

@media only screen and (max-width: 1275px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 975px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}