.main {
  padding-top: 72px;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  max-width: 600px;
  margin-top: 100px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
  justify-content: space-between;
  border: 1px solid hsla(254, 35%, 43%, 0.408);
  box-shadow: 0px 3px 10px #451d9a46;
  border-radius: 4px;
}

.container > h1 {
  margin: 0;
}

.container > p {
  height: 30px;
}

@media only screen and (max-width: 400px) {
  .container > h1 {
    font-size: 28px;
  }
}