#root {
  background-color: #fcf7ff;
  min-height: 100vh;
  color: #07081e;
  /* background-image: url("https://images.unsplash.com/photo-1477093782505-e10aaeb27c6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80"); */
}

#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf7ff;
  box-shadow: 0px 1px 3px #451d9a5c;
  z-index: 10;
}

#nav-container > a {
  padding: 8px 8px;
  width: 72px;
}

#nav-container > a > img {
  height: 56px;
}

nav {
  width: 90%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 72px
}

#nav-left, #nav-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

#nav-left > a, #nav-right > a {
  color: #07081e;
  text-decoration: none;
  padding: 8px 16px;
}

#nav-left > a:hover, #nav-right > a:hover {
  background-color: #eae2ee;
  color: #07081e;
  border-radius: 25px;
}

#nav-left > a:first-child:hover {
  background-color: none;
}

#nav-left > a > img {
  height: 56px;
}

#nav-right > button {
  z-index: 2;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 32px;
  margin-right: 16px;
  color: #07081e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-right > button:hover {
  cursor: pointer;
  background-color: #eae2ee;
  border-radius: 4px;
}

#dropdown {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.open-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 72px;
  padding: 0 32px;
  height: 250px;
  width: 205px;
  background-color: #fcf7ff;
  box-shadow: 0px 1px 3px #451d9a5c;
}

.open-dropdown > #nav-right {
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.open-dropdown > #nav-left {
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.logout-button {
  background-color: #eae2ee;
  border-radius: 25px;
}