.commentForm {
	color: #451d9a ;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width: 800px;
}

.textarea {
	font-family: 'Manrope';
	border: 1px solid #59479468;
	border-radius: 8px;
	width: 70%;
	padding: 4px 8px;
	min-height: 72px;
	resize: vertical;
}

.textarea:focus {
	outline: none;
}

.submitCommentButton {
	border: 5em;
	cursor: pointer;
	outline: none;
	font-size: 14px;
	height: fit-content;
	background-image: linear-gradient(45deg, #4568dc, #b06ab3);
	padding: 8px 16px;
	border-radius: 4px;
	color: white;
}

.submitCommentButton:active {
	transform: scale(0.92)
}